
:host {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0.6fr 0.1fr auto 0.25fr auto;
  gap: 0px 0px;
  grid-template-areas:
    "headline"
    "image-chooser"
    "options"
    "button"
    "."
    "disclaimer";
  width: 100%;
  height: 100%;
}

.headline {
  grid-area: headline;
}

.image-chooser {
  grid-area: image-chooser;
}

.options {
  margin-top: 1rem;
  margin-bottom: 1rem;
  grid-area: options;
}

.btn {
  position: relative;
  padding: 0.75rem;
  cursor: pointer;
  border: 2px solid #fff;
  outline: none;
  transition: .2s ease;
  background: #000;
  grid-area: button;

  box-shadow:
    0px 1.1px 0.7px rgba(0, 0, 0, 0.017),
    0px 2.7px 1.6px rgba(0, 0, 0, 0.024),
    0px 5px 3px rgba(0, 0, 0, 0.03),
    0px 8.9px 5.4px rgba(0, 0, 0, 0.036),
    0px 16.7px 10px rgba(0, 0, 0, 0.043),
    0px 40px 24px rgba(0, 0, 0, 0.06);

}

.btn input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.btn span {
  transition: .2s ease;
  font-size: 13pt;
  color: var(--ukraine-bottom);
  font-weight: bold;
}

.btn svg {
}

.btn:hover span {
  color: var(--ukraine-bottom) !important;
}

.btn:hover {
  transition: .2s ease;
  border-color: #000;

  box-shadow:
    0px 1.1px 0.7px rgba(0, 0, 0, 0.042),
    0px 2.7px 1.6px rgba(0, 0, 0, 0.061),
    0px 5px 3px rgba(0, 0, 0, 0.075),
    0px 8.9px 5.4px rgba(0, 0, 0, 0.089),
    0px 16.7px 10px rgba(0, 0, 0, 0.108),
    0px 40px 24px rgba(0, 0, 0, 0.15);
}

.disclaimer {
  grid-area: disclaimer;
  font-size: 10pt;
  color: #525252;
}
