<div class="content">
  <h1>Feedback</h1>
  <p>Do you like your new Ukrainifyed avatar? If yes, would you like to tell the internet?</p>

  <div class="buttons">
    <!-- This is a pre-generated link of the official Twitter script. We just don't want any external script so that's the solution. -->
    <a class="twitter" (click)="tweet()" target="_blank" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?hashtags=StandWithUkraine&original_referer=http%3A%2F%2Flocalhost%3A4200%2F&ref_src=twsrc%5Etfw%7Ctwcamp%5Ebuttonembed%7Ctwterm%5Eshare%7Ctwgr%5E&text=Look%20at%20my%20new%20avatar%20which%20I%20created%20with%20the%20%23Ukrainifyer%20to%20show%20solidarity%20with%20the%20%23Ukraine&url=https%3A%2F%2Fukrainifyer.com">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"></path>
      </svg>
      <span>Tweet</span>
    </a>
    <a class="close" (click)="close()">
      <span>Close</span>
    </a>
    <a target="_blank" rel="noopener noreferrer" class="email" href="mailto:hello@felix-schaar.de?subject=Feedback to Ukrainifyer" (click)="email()">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-at" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <circle cx="12" cy="12" r="4"></circle>
        <path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"></path>
      </svg>
      <span>E-Mail</span>
    </a>
  </div>
</div>
<div class="share-bg"></div>
