.window {
  z-index: 200 !important;
  background-color: #fff;
  border-radius: 10px;
}

.cropper {
  z-index: 200;
  max-height: 80vh;
  max-width: 80vw;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100 !important;
  background-color: rgba(0, 0, 0, 0.5);
}
