/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --ukraine-top: #0057B8;
  --ukraine-bottom: #FFD700;
  --darker-white: #afafaf;
}

h1, h2, h3, h4, h5, span, p, a, small {
  font-family: 'Roboto', serif;
}

a {
  color: #3b4b4b;
  text-decoration: none;
  transition: .2s ease;
}

a:hover {
  text-decoration: dotted;
}

a:visited {
  color: #6a939d;
}

html, body {
  background-color: #e7e7e7;
}
